#modal_form {
  width: 50%;
  background: #ffffff;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 20vw;
  left: 32vw;
  margin-top: -15vw;
  margin-left: -6vw;
  display: none;
  opacity: 0;
  z-index: 5;
  padding: 2vw 3.43vw; }
  #modal_form #modal_close {
    width: 1.312vw;
    height: 1.312vw;
    position: absolute;
    top: -2.5vw;
    right: -2.5vw;
    display: block;
    cursor: pointer; }
    #modal_form #modal_close img {
      width: 1vw; }

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  cursor: pointer; }

.modal_form_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .modal_form_content .modal_form_content_form {
    width: 45%;
    border-right: 1px solid #dbdbdb;
    padding-right: 3.43vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .modal_form_content .modal_form_content_form h1 {
      font-size: 1.3vw;
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      margin-bottom: 2.125vw; }
    .modal_form_content .modal_form_content_form form p {
      font-family: "Roboto", sans-serif;
      font-size: 0.875vw;
      margin-bottom: 0.625vw; }
    .modal_form_content .modal_form_content_form form input {
      padding: 0.625vw 0.875vw;
      width: 100%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-bottom: 1vw;
      font-size: 1vw; }
    .modal_form_content .modal_form_content_form form input[type=checkbox] {
      width: auto; }
    .modal_form_content .modal_form_content_form form #remember_me {
      display: inline-block;
      margin-bottom: 1vw; }
    .modal_form_content .modal_form_content_form form .remember {
      display: inline-block; }
    .modal_form_content .modal_form_content_form form a {
      color: #000000;
      font-family: "Roboto", sans-serif;
      display: inline-block;
      margin-right: 1vw;
      font-size: 0.875vw;
      margin-bottom: 1vw; }
    .modal_form_content .modal_form_content_form form input[type=button] {
      width: 14.2vw;
      font-size: 1vw;
      font-family: "Roboto", sans-serif;
      background-color: #717381;
      border: none;
      color: #ffffff; }
  .modal_form_content .modal_form_content_social {
    width: 45%;
    padding-left: 2vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .modal_form_content .modal_form_content_social h1 {
      font-family: "Roboto", sans-serif;
      font-weight: bold;
      margin-bottom: 3.125vw;
      font-size: 1.3vw; }
    .modal_form_content .modal_form_content_social .modal_form_content_social_buttons {
      width: 100%; }
      .modal_form_content .modal_form_content_social .modal_form_content_social_buttons a {
        display: block;
        width: 100%;
        font-family: "Roboto", sans-serif;
        color: #fff;
        font-size: 0.875vw;
        margin-bottom: 1.437vw;
        text-decoration: none;
        padding-top: 1.187vw;
        padding-bottom: 1.187vw;
        text-align: center; }
        .modal_form_content .modal_form_content_social .modal_form_content_social_buttons a i {
          margin-right: 0.625vw; }
      .modal_form_content .modal_form_content_social .modal_form_content_social_buttons .facebook {
        background-color: #3b5998; }
      .modal_form_content .modal_form_content_social .modal_form_content_social_buttons .twitter {
        background-color: #41abe1; }
      .modal_form_content .modal_form_content_social .modal_form_content_social_buttons .google {
        background-color: #ea4335; }

/*# sourceMappingURL=modal_login.css.map */